/**************** mobil *****************/

  .kolonner {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }
  .galleri_titel{
       grid-column: 1/ span 2;
 grid-row: 1;
  }
    .udseende{
grid-column: 1/3;
grid-row: 2;
}
    .bred{
grid-column: 1/3 ;
grid-row: 3;
}
    .apple{
grid-column: 1/ span 1;
grid-row: 5;
}
    .code{
grid-column:1/ span 2 ;
grid-row: 4;
}
    .desktop{
grid-column: 1/ span 1;
grid-row: 5;
}
    .intel{
grid-column: 1/3;
grid-row: 6;
}
    .keyboard{
grid-column: 1/ span 2;
grid-row: 7;
}
    .macbook{
grid-column: 1/ span 2;
grid-row: 8;
}

/**************** desktop *****************/
@media (min-width: 900px) {
  /**************** Index *****************/
  .section.grid_2-1 {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
  }
  .section.grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .dl.grid_1-1 {
      .PC {
        place-self: start left;
      }
      .Win {
        place-self: start right;
      }
      .Tab {
        place-self: end left;
      }
      .Smart {
        place-self: end right;
      }
    }
  }

  .billede {
    order: -1;
  }

  /**************** Min computer *****************/

  .grid_1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  /**************** Operativsystemer *****************/
  .grid_5-3 {
    display: grid;
    grid-template-columns: 5fr 3fr;
    gap: 20px;

    .grid_2-3 {
      display: grid;
      grid-template-columns: 2 fr 3fr;
      gap: 20px;
    }
    .grid_3-2 {
      display: grid;
      grid-template-columns: 3fr 2fr;
      gap: 20px;
      /* .text {
        order: -1;
      } */
    }
  }
  /**************** Komponenter *****************/

  /**************** Galleri *****************/
  /*********** Kolonner **********/
  /* .kolonner {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
.
} */
